* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

.flex-container {
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

header {
    color: #fff;
    background-color: #122A57;
    height: 100px;
    display: flex;
    align-items: center;
}

header .menu {
    justify-content: space-between;
}

header .list-items {
    display: flex;
    align-items: center;
    max-width: 300px;
    width: 100%;
    justify-content: space-between;
}

.list-items li a {
    color: #fff;
    font-weight: 700;
    font-size: 18px;
}

.presentation {
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
}

.presentation .text-presentation {
    min-height: 200px;
}

.text-presentation h1 {
    color: #122A57;
    font-size: 64px;
    margin-bottom: 10px;
}

.text-presentation p {
    font-size: 24px;
}

.text-presentation a {
    display: block;
    background-color: #122A57;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    width: 220px;
    height: 52px;
    line-height: 50px;
    margin-top: 40px;
    font-size: 24px;
}

.about {
    align-items: center;
    justify-content: space-evenly;
}

.about .text-about {
    color: #122A57;
    height: 56px;
}

.about-title-rectangle {
    display: flex;
    margin-bottom: 30px;
}

.about-title-rectangle h2 {
    line-height: 50px;
    font-size: 36px;
}

.about-title-rectangle .rectangle {
    background-color: #122A57;
    width: 7px;
    height: 57px;
    margin-right: 8px;
}

.about .text-about p {
    color: #122A57;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    width: 570px;
}

#services {
    flex-direction: column;
    background-color: #122A57;
    width: 1440px;
    height: 642px;
    margin-top: 94px;
    margin-bottom: 104px;
    padding-left: 225px;
}

#services-options {
    display: flex;
    align-items: flex-start;
}

#service-pacotes {
    order: 1;
    margin-right: 300px;
}

#service-hospedagem {
    order: 2;
    margin-right: 300px;
}

#service-roteiros {
    order: 3;
}

.services-text {
    margin-top: 76px;
}

.services-text h2, a, p {
    color: #fff;
    text-decoration: none;
}

.services-text h2 {
    font-size: 48px;
}

.services-text p {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 48px;
    font-weight: 700;
    text-align: center;
}

.services-text a {
    display: block;
    font-size: 18px;
    color: #122A57;
    background-color: #fff;
    width: 225px;
    height: 50px;
    line-height: 50px;
    border-radius: 30px;
    font-weight: 700;
    text-align: center;
}
